* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--white);
    font-family: var(--font);
}
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --grey: #D4D5DD;
    --greynormale: #CFCFD4;
    --whitegrey: #FAFAFA;
    --whitegreytop: #F5F5F5;
    --gren: #538320;
    --black: #181A18;
    --font: 'Roboto Mono';
}

header h1 {
    text-align: center;
    margin-top: 90px;
    font-size: 2em;
    font-weight: bold;
}
/****************************************************/
body aside p {
    text-align: center;
    
}
body > aside > button {
    width: 75%;
    border: 0px solid rosybrown;
    padding: 8px 8px;
    background-color: var(--grey);
    border-radius: 1px;
    color: var(--black);
    text-align: center;
    margin: 8px 12%;
}
body > aside > button:hover {
        background-color: var(--greynormale);
}
/********************************************************/
.inputnavindex {
    width: 75%;
    border: 0px solid rosybrown;
    padding: 8px 8px;
    background-color: var(--grey);
    border-radius: 1px;
    color: var(--black);
    text-align: center;
    margin: 8px 12%;
}
.custom-file-upload1 {
    display: inline-block;
    cursor: pointer;
    width: 75%;
    border: 0px solid rosybrown;
    padding: 8px 8px;
    background-color: var(--grey);
    border-radius: 1px;
    color: var(--black);
    text-align: center;
    margin: 8px 12%;
}
.custom-file-upload1:hover {
        background-color: var(--greynormale);
}

/*****************************************************************/

main {
  
    margin-left: 120px;
    margin-top: 30px;
}
section {
    margin-top: 5px;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
    width: 105vh;
    font-size: 14px ;
    height: 75vh;
    border: 1px solid var(--greynormale);
    
}
.container {
    overflow-x: hidden;
}
.container:active {
    
    background-color:red;

}
footer {
    margin-top: 10px;
    margin-left: 70%;
}
    footer button {
        padding: 4px;
        width: 41%;
        font-size: 13px;
        margin-left: 9px;
        border: 0px solid rosybrown;
        background-color: var(--grey);
        border-radius: 1px;
        color: var(--black);
        text-align: center;
    }
.footerbuttonAddnew {
    border: 0px solid rosybrown;
    background-color: var(--gren);
    border-radius: 1px;
    color: var(--white);
    text-align: center;
}
main > section > p {
    margin: 10px 10px 5px 10px;
    padding-top: 15px;
   
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}
main > section > h3 {
    margin: 0px 10px 0px 25px;
    padding-top: 15px;
    color: var(--gren);
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}
main > section > form {
    margin: 0px 10px 0px 25px;
    padding-top: 15px;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
    width: 95vh;
    font-size: 14px;
    height: 20vh;
    border: 1px solid var(--greynormale);
    
}
    main > section > form > div {
        font-weight: normal;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        margin-left: 7px;
        padding-top: 5px;
        background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
    }
        main > section > form > div > input {
            width: 63%;
            padding: 5px;
            border: 1px solid var(--grey);
            border-radius: 4px;
            outline: none;
        }
            main > section > form > div > input:hover, input:active {
                border-color: var(--gren);
            }



.p1input {
    margin-right: 21px;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}
.p2input {
    margin-right: 5px;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}
main > section > button {
    width: 91%;
    border: 0px solid rosybrown;
    padding: 7px 7px;
    background-color: var(--grey);
    font-size: 14px;
    border-radius: 1px;
    color: var(--black);
    margin-top: 70px;
    margin-left: 25px;
}

    main > section > button:hover {
        background-color: var(--greynormale);
    }
    /**********************************/
#id01:target {
   
    left: 0;
    top: 0;
    display: flex;
   
}
.msg {
    display: none;
    
}
.adisplaynone {
    background-color: var(--grey);
    font-size: 14px;
    color: var(--black);
    text-decoration-line: none;
}
/*********************************************/
main > section > nav {
    margin-top: -15%;
    /*****************/

    padding-left: 22px;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 60vh;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}
.msg h3 {
   
    color: var(--gren);
    width: 23vh;
    height: 4vh;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}
.msgh3 {
    margin-top: 25px;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}

.msg form {
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
    width: 95vh;
    font-size: 14px;
    height: 25vh;
    border: 1px solid var(--greynormale);
    margin-top: 1px;
    padding-bottom: 27px;
    padding-top: 7px;
}
.msg form > div {
        font-weight: normal;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        margin-left: 7px;
        padding-top: 20px;
        background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
    }
.inputnav1 {
    width: 20%;
    padding: 5px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}
.msg form > div:nth-child(1) > input {
    width: 99%;
    padding: 5px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}

        .msg form > div > input:hover {
            border-color: var(--gren);
        }



input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    width: 63%;
    padding: 5px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
    color: #757779;
}
    .custom-file-upload:hover {
        border-color: var(--gren);
    }
.p3input {
    margin-right: 80px;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}
.p4input {
    margin-right: 86px;
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}
/****************************/
.slidecontainer {
    width: 98%;
  
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 2px;
    background: var(--grey);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: var(--grey);
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: var(--grey);
        cursor: pointer;
    }





th {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ACB1B2;
    width: 25%;
}

td {
    padding-left: 7px;
    background-color: #F9FAFB;
    width: 45%;
}

tr {
    background-color: #F9FAFB;
    
}



table {
    width: 75%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    margin-left:78px;

}

th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid #ACB1B2;
}
.passwrdod {
    background-color:red;
}
.egale {
    background-image: linear-gradient(to right,var(--whitegrey), var(--whitegreytop) );
}